<!DOCTYPE html>
<html lang="en" ng-app="ndmApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>NDM Sanchez Builders and Development Corp.</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Loading -->
    <link rel="stylesheet" type="text/css"  href="css/loader.css" >
    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- ANGULARJS -->
    <script src="angularjs/1.4.8/angular.min.js"></script> 
    <script type="text/javascript" src="angularjs/1.4.8/angular-validation-match.js"></script>

    <script>
      var ndmApp = angular.module('ndmApp',[]);
    </script>

  </head>

  <body class="" ng-controller="adminCtrl" style="background-color: #8e0808;">

    <div class="container-fluid">

      <div class="card card-register mx-auto mt-1 pull-left" style="width: 350px;">
        <div class="card-header">
          Register an Account
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label>*Usertype </label>
                  <select ng-model="usertype">
                    <option>--- SignUp As ---</option>
                    <option ng-repeat="item in usertypeList" value="{{item.usertype}}">{{item.usertype}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label  for="firstname">*First name</label>
                  <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter first name"  name="firstname" ng-model="firstname" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label for="middlename">*Middle name</label>
                  <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter last name" name="middlename" ng-model="middlename" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label for="lastname">*Last name</label>
                  <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter last name" name="lastname" ng-model="lastname" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="age">*Age</label>
                  <input type="number" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter Age"  name="age" ng-model="age">
                </div>
                <div class="col-md-6">
                  <label for="gender">*Gender</label>
                  <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter Gender" name="gender" ng-model="gender" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputBirthdate">*Status</label>
                  <input type="text" class="form-control" id="" placeholder="Enter Status"  name="birthdate" ng-model="birthdate" required>
                </div>
                <div class="col-md-6">
                  <label for="status">*Birthdate</label>
                  <input type="text" class="form-control" id="status" placeholder="yyyy-MM-dd" name="status" ng-model="status" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="nationality">*Nationality</label>
                  <input type="text" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter Nationality"  name="nationality" ng-model="nationality" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputLastName">*Address</label>
                  <textarea class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter Address" name="address" ng-model="address" required></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputName">*Phone Number</label>
                  <input type="number" class="form-control" id="" aria-describedby="nameHelp" placeholder="Enter Phone Number"  name="phone" ng-model="phone" n required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="email">*Email address</label>
                  <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter email" name="email" ng-model="email" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <label for="usernameInput">*Username</label>
                  <input type="text" class="form-control" id="" aria-describedby="userHelp" placeholder="Enter Username" name="usernameInput" ng-model="usernameInput" required>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="exampleInputPassword1">*Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd" ng-model="pwd" ng-minlength="4" ng-maxlength="20" required>
                  <!-- <span style="color:red" ng-show="myForm.pwd.$dirty && myForm.pwd.$invalid">
                    <span class="labelred" ng-show="myForm.pwd.$error.required">Password Required</span>
                    <span class="labelred" ng-show="myForm.pwd.$error.minlength">Minimum of 4 charaters only</span>
                  </span> -->
                </div>
                <div class="col-md-6">
                  <label for="exampleConfirmPassword">*Confirm password</label>
                  <input type="password" class="form-control" id="exampleConfirmPassword" placeholder="Confirm password" name="confirmPwd" ng-model="formData.confirmPwd"  required>
                  <!-- <span class="labelred" ng-show="myForm.confirmPwd.$dirty && myForm.confirmPwd.$invalid">
                    <span ng-show="myForm.confirmPwd.$error.required">Confirm Password Required</span>
                    <span ng-show="myForm.confirmPwd.$error.minlength">Minimum of 4 charaters only</span>
                    <span ng-show="myForm.confirmPwd.$error.match">Password does not match</span>
                  </span> -->
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-click="signUp()">Register</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="login.html">Login Page</a>
            <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <div class="loading" ng-if="loader">Loading&#8230;</div>
    <!-- AngularJS Script -->
    <script type="text/javascript" src="angularjs/controllers/adminCtrl.js"></script>
    <script type="text/javascript" src="angularjs/service/adminService.js"></script>

    <!-- Native JavaScript -->
    <script type="text/javascript" src="js/functions/global_variables.js"></script>
    <!-- <script type="text/javascript" src="js/functions/login.js"></script> -->
  </body>

</html>
