<div class="container">

  <div class="row"><br/></div>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-table"></i> Attendance Table
      </div>
      <div class="card-body">
        
        <div class="" ng-show="activepage=='main'" >

          <div class="form-group">
            <div class="input-group col-sm-4"> 
              <span class="input-group-addon btn-pink"><i class="fa fa-search fa-fw"></i></span><input type="text" class="form-control" name="search" id="search" ng-model="search" placeholder="Search Employee Name" />
            </div>
          </div>
          <br />
          <button class="deleteall btn btn-danger fa fa-trash-o pull-right" data-toggle="modal" data-target="#delAttendModal" ng-click="delAttendee(items.userID)"></button><br /><br />
 
          <div class="table-responsive" style="overflow-x: auto;">
            <table class="table table-bordered table-stripped" >
              <thead>
                <tr>
                  <th class=""><input type="checkbox" name="select" id="checkAll" ng-model="item.selectedAll" ng-click="checkAll();" /> </th>
                  <th ng-click="sort('name')">Name <i class="fa sort-icon" ng-show="sortKey=='name'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i></th>
                  <th ng-click="sort('department')">Department <span class="fa sort-icon" ng-show="sortKey=='department'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('shift')">Shift <span class="fa sort-icon" ng-show="sortKey=='shift'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('dates')">Date <span class="fa sort-icon" ng-show="sortKey=='dates'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('time_in')">Time In <span class="fa sort-icon" ng-show="sortKey=='time_in'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('time_out')">Time Out <span class="fa sort-icon" ng-show="sortKey=='time_out'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('lateness')">Late<span class="fa sort-icon" ng-show="sortKey=='lateness'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="item in attendanceList |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                  <td><input type="checkbox" name="select" value="checked" ng-model="item.selected" ng-click="selectToDel(item.selected,item.userID)" /> </td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.department }}</td>
                  <td>{{ item.shift }}</td>
                  <td>{{ item.dates }}</td>
                  <td>{{ item.time_in }}</td>
                  <td>{{ item.time_out }}</td>
                  <td>{{ item.lateness }}</td>
                  <td>
                    <button class="btn btn-info fa fa-eye"></button><br /><br />
                    <button class="btn btn-success fa fa-pencil" id="editbutton" ng-click="editAttendee(item.userID)"></button><br /><br />
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls
              max-size="5"
              direction-links="true"
              boundary-links="true" >
            </dir-pagination-controls>
          </div> 

        </div>

        <div id="" ng-show="activepage=='edit'">

          <form name="editForm" role="form">

            <div class="form-group">
              <div class="jumbotron" style="margin: 1px; padding: 12px;">
                <label class="col-md-6">Name: {{attName}}</label> 
                <label class="col-md-10">Department: {{attDept}}</label>
                <label class="col-md-10">Shift: {{attShift}}</label>
              </div>
            </div>
              <button class="btn btn-primary pull-right" ng-click="cancelEdit()"><i class="fa fa-mail-reply"></i></button>
            
            <br /><br />
            <div class="form-row">
              <div class="col-xs-12">
                <!-- <label>Date: </label>
                <input type="text" class="form" name="dated" value="{{attDates}}">
                <label>Time In: </label>
                <input type="Input" name="" value="{{attTimeIn}}" style="width: 50px;">
                <label>Time Out: </label>
                <input type="Input" name="" value="{{attTimeOut}}" style="width: 50px;"> -->
                <table>
                  <tr>
                  <thead>
                    <th style="width: 100px;">ID</th>
                    <th style="width: 350px;">Date</th>
                    <th style="width: 350px;">Time In</th>
                    <th style="width: 350px;">Time Out</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td contenteditable="false" ng-model="editAttID">{{attID}}</td>
                      <td contenteditable="true" ng-model="editAttDates">{{attDates}}</td>
                      <td contenteditable="true" ng-model="editAttTimeIn">{{attTimeIn}}</td>
                      <td contenteditable="true" ng-model="editAttTimeOut">{{attTimeOut}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-12">
              <br/>
                <button type="submit" class="btn btn-primary pull-right" ng-click="">Save</button>
              </div>
            </div>

          </form>


        </div>

            
      </div>

      <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
      </div>
  </div>

</div>

<!-- Delete Mnt -->
<div class="modal fade" id="editAttendee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Edit </h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" name="attName" ng-model="attName">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      <button type="button" class="btn btn-primary" class="btn btn-secondary" data-dismiss="modal" href="#">Yes</button>
    </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="delAttendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Delete </h4>
    </div>
    <div class="modal-body">
      Do you want to Delete <b>{{aID}}</b> ?
      <input type="hidden" ng-model="pID">  
      <input type="hidden" class="form-control input-xs" ng-model="tables" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      <button type="button" class="btn btn-primary" ng-click="DELETEMODAL(aID)" class="btn btn-secondary" data-dismiss="modal" href="#">Yes</button>
    </div>
    </div>
  </div>
  </div>