<div class="container" id="usersett"><br />
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
    <a href="#/"><i class="fa fa-home"></i></a>
    </li>
    <li class="breadcrumb-item">
    <a href="#/userSettings">Member Settings</a>
    </li>
    </ol>

   <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i>
            List of Employees
          </div>
          <div class="card-body">

          <ul class="nav nav-pills">
            <li class="active"><a class="btn" data-toggle="pill" data-target="#member_tab"  >Member List</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="member_tab">
              
              <div class="" ng-show="activepage=='main'" ><br/>

          <div class="form-group">
            <div class="form-row col-md-12">
              <div class="input-group col-sm-4"> 
                <span class="input-group-addon btn-pink"><i class="fa fa-search fa-fw"></i></span><input type="text" class="form-control" name="search" id="search" ng-model="search" placeholder="Search Employee Name" />
              </div>
              <button class="btn btn-primary pull-right deleteall" type="button" value="Remove"><i class="fa fa-trash-o"></i> </span></button>
            </div>
            
          </div>
          <br />          
          <div class="table-responsive" style="overflow-x: auto;">
            <table class="table table-bordered table-stripped" >
              <thead>
                <tr>
                  <th class=""><input type="checkbox" name="select" id="checkAll" ng-model="item.selectedAll" ng-click="checkAll();" /> </th>
                  <th ng-click="sort('name')">Full Name <i class="fa sort-icon" ng-show="sortKey=='name'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i></th>
                  <th ng-click="sort('department')">Email Address<span class="fa sort-icon" ng-show="sortKey=='department'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('shift')">Birthdate <span class="fa sort-icon" ng-show="sortKey=='shift'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('dates')">Phone Number <span class="fa sort-icon" ng-show="sortKey=='dates'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th ng-click="sort('time_in')">Address <span class="fa sort-icon" ng-show="sortKey=='time_in'" ng-class="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="item in memberInfoList |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                  <td><input type="checkbox" name="select" value="checked" ng-model="item.selected" ng-click="selectToDel(item.selected,item.userID)" /> </td>
                  <td>{{ item.first_name }} {{ item.middle_name }} {{ item.last_name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.birthdate }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.address }}</td>
                  <td>
                    <a class="btn btn-success fa fa-pencil" id="editbutton" ng-click="editMemberInfo(item.userID)"></a><br /><br />
                  </td>
                </tr>
              </tbody>
            </table>
            <dir-pagination-controls
              max-size="5"
              direction-links="true"
              boundary-links="true" >
            </dir-pagination-controls>
          </div> 

        </div>

        <div ng-show="activepage=='edit'">
          <form name="myForm">
            <div class="form-group" ng-repeat="user in memberInfo | filter: username">
                
                <div class="form-row pull-right">
                  <label class="btn btn-primary pull-right" name="editInfo">
                    <input type="checkbox" class="hidden" for="editInfo" name="editInfo" ng-model="editInfo"> <i class="fa fa-pencil" ng-click="loadUserInfo(user.userID,user.email,user.first_name,user.last_name,user.middle_name,user.age,user.gender,user.status,user.phone,user.nationality,user.birthdate,user.address)"></i>
                  </label>
                </div><br/><br/>
                <!-- <div class="form-row">
                  <a data-toggle="modal" data-target="#userInfoModal">
                    <h4>{{user.last_name}}, {{user.first_name}} {{user.middle_name}}.</h4>
                  </a>
                </div> -->
                <div class="form-row">
                  <div class="col-md-6">
                    <label>Role : </label>
                    <input type="text" class="form-control" name="role" ng-model="usertype" readonly>
                  </div>
                  <div class="col-md-6">
                    <label>*Email : </label>
                    <input type="hidden" class="form-control" name="userID" ng-value="user.userID">
                    <input type="email" class="form-control" name="email" ng-value="user.email" ng-model="mailEdit" ng-readonly="!editInfo">
                  </div>
                </div><br/>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>*Firstname : </label>
                    <input type="text" class="form-control" name="fname" ng-value="user.first_name" ng-model="fnameEdit"  ng-readonly="!editInfo">
                  </div>
                  <div class="col-md-6">
                    <label>*LastName : </label>
                    <input type="text" class="form-control" name="lname" ng-value="user.last_name" ng-model="lnameEdit" ng-readonly="!editInfo">
                  </div>
                </div><br/>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>*MiddleName : </label>
                    <input type="text" class="form-control" name="mname" ng-value="user.middle_name" ng-model="mnameEdit" ng-readonly="!editInfo">
                  </div>
                  <div class="col-md-6">
                    <label>*Age : </label>
                    <input type="text" class="form-control" name="age" ng-value="user.age" ng-model="ageEdit" ng-readonly="!editInfo">
                  </div>
                </div><br/>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>*Gender : </label>
                    <input type="text" class="form-control" name="gender" ng-value="user.gender" ng-model="genderEdit" ng-readonly="!editInfo">
                  </div>
                  <div class="col-md-6">
                    <label>*Status : </label>
                    <input type="text" class="form-control" name="status" ng-value="user.status" ng-model="statusEdit" ng-readonly="!editInfo">
                  </div>
                </div><br/>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>*Phone Number : </label>
                    <input id="txtNo" type="input" class="form-control" name="numeric" ng-value="user.phone" ng-model="phoneEdit" min="1" max="9" maxlength="11" ng-readonly="!editInfo">
                  </div>
                  <div class="col-md-6">
                    <label>*Nationality : </label>
                    <input type="text" class="form-control" name="nationality" ng-value="user.nationality" ng-model="citizenEdit" ng-readonly="!editInfo">
                  </div>
                </div><br/>
                <div class="form-row">
                  <div class="col-md-6">
                    <label>*Birthdate : </label>
                    <input type="date" class="form-control" name="birthday" ng-value="user.birthdate" ng-model="bdayEdit" ng-readonly="!editInfo">
                  </div>
                  <div class="col-md-6">
                    <label>*Home Address : </label>
                    <input rows="2" cols="25" class="form-control" style="border-radius: 5px; height: 50px;" ng-value="user.address" ng-model="addrEdit" ng-readonly="!editInfo"></textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12"><br/>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="editMember(userIDEdit,mailEdit,fnameEdit,lnameEdit,mnameEdit,ageEdit,genderEdit,statusEdit,phoneEdit,citizenEdit,bdayEdit,addrEdit)" ng-show="editInfo"><i class="fa fa-save"></i> Save Update</button>
                  </div>
                </div>

              </div>
            </form>
        </div>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="attend_tab">
              <h1>Attendance Data</h1>
            </div>
          </div>
          
          <!-- <div class="" ng-show="activepage=='mainpage'">
            <a type="submit" class="btn btn-success pull-right" id="a-add" ng-href="../wemis/register.html"><i class="fa fa-plus"></i> Add Employee</a>
            <div class="form-group">
              <div class="input-group col-sm-4"> 
                <span class="input-group-addon btn-pink"><i class="fa fa-search fa-fw"></i></span><input type="text" class="form-control" name="searchText" id="username" ng-model="searchText" placeholder="Search Employees" />
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th ng-click="sort('lname')">Name <span class="glyphicon sort-icon" ng-show="sortKey=='lname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></th>
                  <th ng-click="sort('email')">Email <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></th>
                  <th ng-click="sort('birthdate')">Birthdate <span class="glyphicon sort-icon" ng-show="sortKey=='birthdate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></th>
                  <th ng-click="sort('address')">Address <span class="glyphicon sort-icon" ng-show="sortKey=='address'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="item in memberList |orderBy:sortKey:reverse|filter:search|itemsPerPage:1">
                  <td>{{ item.lname }}, {{ item.fname }} {{ item.mname }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.birthdate | date:"dd/MM/yyyy"}}</td>
                  <td>{{ item.address }}</td>
                  <td>
                    <button class="btn btn-info fa fa-eye"></button>
                    <button class="btn btn-secondary fa fa-pencil"></button>
                    <button class="btn btn-danger fa fa-trash-o"></button>
                  </td>
                </tr>
              </tbody>
              </table>
              <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
              </dir-pagination-controls> -->


              <!-- <div class="form-group">
                <ul class="pagination" style="list-style: none; display: inline-block;">
                  <li class="previous page-item active"><a class="page-link" href="#"><i class="fa fa-arrow-left"></i> Previous</a></li>
                  <li class="next page-item"><a class="page-link" href="#">Next <i class="fa fa-arrow-right"></i></a></li>
                </ul>
              </div> -->
              <!-- <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-end">
                  <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo; Prev</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next &raquo;</a></li>
                </ul>
              </nav> -->
              <!-- <pagination total-items="memberList.length" ng-model="currentPage" items-per-page="pageSize">
                
              </pagination> -->
              <!-- <ul uib-pagination direction-links="false" total-items="memberList.length" ng-model="currentPage" num-pages="smallnumPages"></ul>
              <pre>The selected page no: {{currentPage}}</pre>
              <button type="button" class="btn btn-info" ng-click="pageSize(3)">Set current page to: 3</button> -->

           <!--  </div>
          </div>
          
          <div class="" ng-show="activepage=='editpage'">
            <div class="card mb-3" style="box-shadow: red;">
            <div class="card-body">
            <form class="form-horizontal" name="addForm2" id="formClear">
              <fieldset>
              <legend>
                <button class="btn btn-success fa fa-arrow-left pull-right" ng-click="cancelEdit()"></button><br/>                
              </legend>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                <div class="form-group" >
                  <label class="text-right labelname">ID: {{emp_idEdit}}</label><br/><br/>
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-2 text-right labelname">*First Name: </label>
                  <input type="text" class="form-control input-group dark-red" ng-model="pCate" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="text-right labelname">*Last Name: </label>
                  <input type="text" class="form-control" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Middle Name: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Email Address: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Status: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Nationality: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                
              </div>
              <div class="col-md-5 pull-right">
                <div class="form-group" >
                  <label class="col-xs-1 text-right labelname"></label><br/><br/>
                </div>
                <div class="form-group">
                    <label for="nameField" class="col-xs-1 text-right labelname">*Age: </label>
                    <input type="number" class="form-control" ng-model="pSubj" />
                </div>
                <div class="form-group">
                    <label for="nameField" class=" text-right labelname">*Gender: </label>
                    <select class="pull-right btn btn-info dropdown-toggle dropdown-toggle-split" ng-model="column" name="column" ng-required="true" required style="width: 55%; margin-left:55px; float: right; ">
                      <option value="scpid">Female</option>
                      <option value="brandname">Male</option>
                    </select>
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Home Address: </label>
                  <textarea rows="2" cols="25" class="form-control" style="border-color: #ff8080; color:#FF1493; border-radius: 5px; height: 50px;" ng-model="pCont"></textarea>
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Birthdate: </label>
                  <input type="text" id="date" class="form-control input-xs" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="" placeholder="DD-MM-YYYY">
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">SSS Number: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                <label for="nameField" class="col-xs-4 text-right labelname">TIN Number: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                
              </div>
              <div class="col-md-1">
                
              </div>

              </div>
              <div class="row">
                <div class="col-md-9 pull-right"></div>
                <button class="btn btn-danger pull-right">Save to Update</button>
              </div>
              </fieldset>
            </form>
            </div>
            </div>
            
          </div>

          <div class="" ng-show="activepage=='addpage'">
            <div class="card mb-3" style="box-shadow: red;">
            <div class="card-body">
            <form class="form-horizontal" name="addForm2" id="formClear">
              <fieldset>
              <legend>
                <button class="btn btn-success fa fa-arrow-left pull-right" ng-click="cancelEdit()"></button><br/>                
              </legend>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                <div class="form-group" >
                  <label class="text-right labelname">ID: {{emp_idEdit}}</label><br/><br/>
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-2 text-right labelname">*First Name: </label>
                  <input type="text" class="form-control input-group dark-red" ng-model="pCate" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="text-right labelname">*Last Name: </label>
                  <input type="text" class="form-control" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Middle Name: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Email Address: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Status: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Nationality: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                
              </div>
              <div class="col-md-5 pull-right">
                <div class="form-group" >
                  <label class="col-xs-1 text-right labelname"></label><br/><br/>
                </div>
                <div class="form-group">
                    <label for="nameField" class="col-xs-1 text-right labelname">*Age: </label>
                    <input type="number" class="form-control" ng-model="pSubj" />
                </div>
                <div class="form-group">
                    <label for="nameField" class=" text-right labelname">*Gender: </label>
                    <select class="pull-right btn btn-info dropdown-toggle dropdown-toggle-split" ng-model="column" name="column" ng-required="true" required style="width: 55%; margin-left:55px; float: right; ">
                      <option value="scpid">Female</option>
                      <option value="brandname">Male</option>
                    </select>
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Home Address: </label>
                  <textarea rows="2" cols="25" class="form-control" style="border-color: #ff8080; color:#FF1493; border-radius: 5px; height: 50px;" ng-model="pCont"></textarea>
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">*Birthdate: </label>
                  <input type="text" id="date" class="form-control input-xs" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="" placeholder="DD-MM-YYYY">
                </div>
                <div class="form-group" >
                  <label for="nameField" class="col-xs-4 text-right labelname">SSS Number: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <div class="form-group" >
                <label for="nameField" class="col-xs-4 text-right labelname">TIN Number: </label>
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                
              </div>
              <div class="col-md-1">
                
              </div>

              </div>
              <div class="row">
                <div class="col-md-9 pull-right"></div>
                <button class="btn btn-danger pull-right">Save to Update</button>
              </div>
              </fieldset>
            </form>
            </div>
            </div>
            
          </div> -->

          </div>
        </div>
  
</div>

<div class="modal fade" id="addEmpModal" tabindex="-1" role="dialog" aria-labelledby="addEmpModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="overflow-y: auto;">
            <form class="form-horizontal" name="addForm2" id="formClear">
              <div class="form-group" >
                <label for="nameField" class="col-xs-4 text-right labelname">First Name: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pCate" />
                </div><br/>
                <label for="nameField" class="col-xs-4 text-right labelname">Last Name: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div><br/>
                <label for="nameField" class="col-xs-4 text-right labelname">Middle Name: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div><br/>
                <div class="form-group">
                  <label for="nameField" class="col-xs-3 text-right labelname">Age: </label>
                  <input type="text" class="input-xs col-xs-3" ng-model="pSubj" />
                  <label for="nameField" class="col-xs-3 text-right labelname">Gender: </label>
                  <select class="pull-right btn btn-info dropdown-toggle dropdown-toggle-split" ng-model="column" name="column" ng-required="true" required style="margin-left:55px; float: right; ">
                    <option value="scpid">Female</option>
                    <option value="brandname">Male</option>
                  </select>
                </div>
                <label for="nameField" class="col-xs-4 text-right labelname">Home Address: </label>
                <div class="col-xs-4">
                  <textarea rows="2" cols="25" class="form-control" style="border-color: #FF69B4; color:#FF1493; border-radius: 5px; height: 50px;" ng-model="pCont"></textarea>
                </div><br/>
                <h3>Combodate</h3>
<div style="margin: 50px">
  <input type="text" id="date" data-format="MM/DD/YYYY" data-template="MMM / D / YYYY" value="11/12/2003" />
</div>
<button type="button">test</button>
                <label for="nameField" class="col-xs-4 text-right labelname">Email Address: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <label for="nameField" class="col-xs-4 text-right labelname">Status: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <label for="nameField" class="col-xs-4 text-right labelname">Nationality: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <label for="nameField" class="col-xs-4 text-right labelname">SSS Number: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
                <label for="nameField" class="col-xs-4 text-right labelname">TIN Number: </label>
                <div class="col-xs-4">
                  <input type="text" class="form-control input-xs" ng-model="pSubj" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="login.html">Histoy</a>
          </div>
        </div>
      </div>
    </div>